*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 2px solid red;
}

/* home page styling */
#home{
    text-align: center;
    margin: 20px;
    padding: 5px;
    background-color: orangered;
    color: white;
}

.home-list{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    list-style: none;
}

/* other pages styling */

h1{
    text-align: center;
    margin: 20px;
    padding: 5px;
    background-color: lightcoral;
}

a{
    margin-left: 20px;
}

img{
    display: block;
    margin: 20px auto;
}

h3{
    margin: 0 0 10px 20px;
}

p{
    margin: 0 0 5px 20px;
    background-color: lightgray;
    padding: 5px;
}

h5{
    margin: 10px 0 10px 20px;
}

ul{
    margin-left: 40px;
    font-size: 14px;
}

ol{
    margin: 10px 0 20px 40px;
    font-size: 14px;
    font-style: oblique;
}