*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 2px solid red;
}

/* home page styling */
#home{
    text-align: center;
    margin: 20px;
    padding: 5px;
    background-color: orangered;
    color: white;
}

.home-list{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

/* other pages styling */

